PORT="your_port"
NODE_ENV="your_environment"
DATABASE_URL="your_database_url" #For Docker-Compose: DATABASE_URL="postgres//POSTGRES_USER:POSTGRES_PASSWORD@postgresdb:5432/POSTGRES_DB"
POSTGRES_USER="your_username" #If not specified the default user is 'postgres'
POSTGRES_PASSWORD="your_password" #Required for postgres docker image
POSTGRES_DB="your_database_name"